#about-image{
    width: 100%;
    min-width: 0;
}
.welcome-block{
    max-width: 80%;
    width: 50%;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}
.table-research{
    float: right;
    max-width: 80%;
    width: 45%;
    margin-top: 30px;
    margin-right: 20px;
}
caption{
    background-color: rgb(112, 200, 255);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.highlight-table{
    border-collapse: collapse;
    font-size: 1em;
}
.highlight-table thead tr {
    background-color: rgb(171, 223, 255);
    font-weight: bold;
}
.highlight-table th{
    padding: 5px 8px;
}
.highlight-table td{
    padding: 9px 11px;
    text-align: center;
}
.highlight-table tbody tr:nth-child(odd){
    background-color: rgb(214, 243, 255);
    transition: background-color 0.3s;
}
.highlight-table tbody tr:hover{
    background-color: rgb(254, 255, 211);
    cursor: pointer;
}
.highlight-table, th, td{
    border: 1px solid rgba(117, 129, 141, 0.545);
}
nav{
    margin-top: 0;
}
footer{
    clear: both;
}
@media(max-width: 1060px){
    .table-research{
    float: left;
    width: 80%;
    font-size: 0.989em;
    margin-top: 25px;
    margin-left: 0;
    margin-bottom: 20px;
}
.welcome-block{
    max-width: 80%;
    width: 80%;
    margin-bottom: 0;
}
}