*{
    margin: 0;
    line-height: 1.2em;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
p{
    font-size: 20px;
    margin: 10px 0;
}
dd{
    margin-left: 65px;
}
li, dl { 
    font-size: 20px;
}
header {
    background: linear-gradient(to left,rgb(120, 217, 255), #4d61d3);
    padding-top: 20px;
}
/*First part of the header*/
.name{
    text-align: center;
    padding-bottom: 10px;
}
.ISLab-logo{
    width: 550px;
    max-width: 100%;
}
/*Link part*/

nav{
    background-color: rgb(35, 91, 144);
    padding-left: 20px;
    position: sticky; /*To put the Navigation bar stick to page*/
    top: 0;
}
.link-page{
    display: inline-block;
    margin: 0;
    height: 42.6px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 18px;
}
.link-page:hover{
    background-color: aquamarine;
    transition: opacity 0.3s;
    cursor: pointer;
}
.link-page:active{
    opacity: 0.5;
}
a{
    text-decoration: none;
}
a:link{
    color: rgb(139, 139, 251);
}
a:visited{
    color:rgb(255, 98, 255);
}
@media (max-width: 665px){
    .link-page{
        padding-right: 10px;
        padding-left: 10px;

    }
}
@media (max-width: 540px){
    .link-page{
        padding-right: 4px;
        padding-left: 4px;
    }
}
/*Footer*/
footer{
    background: linear-gradient(to left,rgb(120, 217, 255), #4d61d3);
    text-align: center;
    padding-bottom: 5px;
}
.footer-logo{
    width: 460px;
    height: 100px;
}
footer p{
    margin: 0;
}
/*Animation for Intelligent Sensing Lab*/
header .name h1{
    animation-name: h1Animate;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes h1Animate{
    0%{

    }
    50%{
        transform: translateX(20px);
    }
    100%{
    }
}